.bg-pdf-grad{
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #f2f2f2 0%, #C60100 110%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #f2f2f2 0%, #C60100 110%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #f2f2f2 0%, #C60100 110%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#C60100',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
